
p {
    font-family: cursive;
    font-weight: 600;
    font-size: 25px;
    background-color:rgb(241, 201, 201);
}

h1 {
      font-family: cursive;
      margin-left: auto;
      margin-right: auto;
      font-weight: 700;
      font-size: 45px;
      background-color:pink;
}


h3 {
    font-family: cursive;
    font-weight: 700;
    font-size: 30px;
    background-color:pink;
    border: 2px solid rgb(198, 238, 221);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}

li {
    font-family: cursive;
    font-weight: 200;
    font-size: 20px;
    background-color: rgb(247, 236, 236);
    
}



a {
    font-family:cursive;
    font-weight: 150;
    font-size: 25px;
    
}
.box {
    background-color: pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 2px solid rgb(198, 238, 221);
    
}
.box2
{
    background-color: pink;
    border: 2px solid rgb(197, 235, 235);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.box3 
{
    background-color: pink;
    border: 2px solid rgb(193, 230, 230);
    width: 100%;
    display: block;
}
.box5
{
    background-color: pink;
    border: 2px solid rgb(197, 235, 235);
    width: 100%;
    display: block;
}
.box6
{
    background-color: pink;
    border: 2px solid rgb(197, 235, 235);
    width: 100%;
    display: block;
}
